// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// Gray scale (order of darkest to lightest)
$almost-black: #151515;
$dark-gray: #0E0000;
$darkish-gray: #333333;
$medium-gray: #666666;
$gray: #bdbdbd;
$gray-ccc: #ccc;
$lightish-gray: #F0F0F0;
$light-gray: #F4F4F4;
$almost-white: #FAFAFA;

// Travelmates custom colour
// Source: https://mycolor.space/?hex=%2300ADB5&sub=1
$teal: #00adb5;
$dark-teal: #007880;
$darkest-teal: #005C71;
$travelmate-gray: #393e46;
