<div data-user=<%= user.id %>>
  <% unless user.id == current_user.id %>
    <!-- #placeholder, may change in the future -->
    <%= user.email %>
    <% if current_user.following?(user.id) %>
      <i class="fas fa-toggle-on"></i>
      <i>Following</i>

    <% else %>
      <i class="fas fa-toggle-off"></i>
      <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true %>
    <% end %>
  <% end %>
</div>
