<div data-user-id="<%= user.id %>" class="user-heart-icon">
  <% unless user.id == current_user.id %>
    <% if current_user.following?(user.id) %>
      <%= link_to unfollow_user_path(user.id), method: :post, remote: true do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to follow_user_path(user.id), method: :post, remote: true do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% end %>
  <% end %>
</div>

