<div data-user=<%= user.id %>>
  <% unless user.id == current_user.id %>
    <%= user.email %>
    <% if current_user.following?(user.id) %>
      <i class="fas fa-user-check"></i>
      <i>Following</i>

    <% else %>
      <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true, class: "btn-filled" %>
    <% end %>
  <% end %>
</div>
