<div class="pt-5 almost-white-bacground">
  <div class="d-flex justify-content-center align-items-center">
    <!-- INSTAGRAM -->
    <a href="https://instagram.com/crikeyitsasheila" target="_blank" class="mx-2" title="instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <!-- GITHUB -->
    <a href="https://github.com/sheesh19" target="_blank" class="mx-2" title="github">
      <i class="fab fa-github-square social-icon"></i>
    </a>
    <!-- LINKEDIN -->
    <a href="https://linkedin.com/in/sheilaleveille" target="_blank" class="mx-2" title="linkedin">
      <i class="fab fa-linkedin social-icon"></i>
    </a>
  </div>

</div>
<div class="footer-text small text-center pt-3 pb-5 almost-white-bacground">
      Copyright &copy; TravelMates 2019
      <div>
        Icons made by
          <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        from
          <a href="https://www.flaticon.com/"           title="Flaticon">www.flaticon.com</a>
        is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
  </div>
