<div class="map-static-image">
  <img class="card-map-img" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/144.9631,-37.8136,12,0,0/400x280?access_token=pk.eyJ1IjoiaGFva2V2aW5jaGVuIiwiYSI6ImNqdmhqYXU5NTA0OGYzeXBqM2NqaG4yOG0ifQ.tvIO5OKPFj72YECCnMjmug" />
</div>​​​​​​​​​​​​​

