
<!-- Renders if the user is not the owner of the event -->

<div class="event-side-title d-flex">
  <!-- Name title -->
  <div class="d-flex">
    <!-- Organiser avatar -->
    <div class="mr-3">
      <%= render 'shared/components/avatar_small', event: @event %>
    </div>
    <div>
      <!-- Organiser Name -->
      <p id="event-join-organiser-label" class="mb-0">Organised by</p>
      <p id="event-join-name" class="mb-0"><%= @event.itinerary.user.username %></p>
    </div>
  </div>
  <!-- Join button -->
  <div id="event-join-button">
    <!-- Button logic for Mate Up from NON OWNER perspective -->
    <% if @event.start_date >= Date.today %>
      <% if current_user.registered?(@event)%>
        <div class="badge badge-secondary pending-info">
          Request <%= @event.event_registrations.where(user_id: current_user).last.status.downcase%>
        </div>
      <% else %>
        <%= link_to "Mate up", itinerary_event_event_registrations_path(@event.itinerary, @event), method: :post, class: "btn btn-outlined" %>
      <% end %>
    <% end %>
  </div>

</div>

