<div class="search__box">
  <%= render 'shared/search' %>
</div>

<div class="map">
  <%= render 'shared/map' %>
</div>

<div class="container__featured">

</div>

<div class="events__upcoming">

</div>
