<div>
  <%= render 'shared/search/search_events' %>
</div>

  <div class="featured-title container__body">
    <h2>CHECK OUT OTHER EVENTS</h2>
  </div>

  <div class="container__body d-flex justify-content-between">
    <div>
      <%= render 'shared/events/grouped_events_all', events: @events %>
    </div>
    <div class="">
      <%= render 'shared/calendar_month', events: @events %>
    </div>
  </div>

<div class="page-bottom-spacer"></div>
<div class="map">
  <%= render 'shared/map', events: @events %>
</div>
