<div>
  <%= render "shared/components/button", variant: "filled", label: "+ Make a Travel Plan", href: new_itinerary_path %>
</div>

<h4>Most Favourited Travel Plans</h4>

<h4>Top 10 Locations</h4>

<h4>Most Planned Activities</h4>
