<div class="container">
  <div id="banner">
    <%#= image_tag "bonaire.jpg", class: "banner" %>
  </div>
  <h1>Travel Mates</h1>

  <p>Mix the best of traveling solo with the best of traveling with groups.</p>

  <%= link_to "GET STARTED", itineraries_path, class: "btn btn-primary" %>
</div>
