<!-- Upcoming calendar events for the user -->

<h5>Your upcoming events</h5>
<%= month_calendar events: @user.itineraries do |date, itineraries| %>
  <%= date.day %>
  <% itineraries.each do |i| %>
    <div><i class="fas fa-plane"></i></div>
  <% end %>
<% end %>

