    <!-- Upcoming calendar events for the user -->


<%= month_calendar events: @user.itineraries do |date, itineraries| %>
  <%= date.day %>
  <% itineraries.each do |i| %>
    <div><%= i.title %></div>
  <% end %>
<% end %>

