.avatar {
  width: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}
.avatar-large {
  width: 56px;
  max-width: 56px;
  max-height: 56px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.avatar-xlarge {
  width: 152px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small {
  width: 32px;
  border-radius: 50%;
}

.no-image-avatar {
  border: solid 1px $darkest-teal;
  background-color: $darkest-teal;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  text-align: center;
  p {
    color: $almost-white;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
}
