.banner {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(35deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 80%);
  background-size: cover;
}

.banner__image {
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  position: relative;
}
