.banner {
  height: 560px;
  width: 100%;
  background-image: linear-gradient(35deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 80%);
  background-size: cover;
}

.banner__image {
  height: 560px;
  width: 100%;
  background-size: cover;
  background-color: $darkest-teal;
  justify-content: center;
  align-items: center;
  background-position: center;
  position: relative;
  // filter: brightness(80%);
}

.banner-container {
  justify-content: center;
  align-items: center;
  height: 560px;
  padding-top: 20%;
  color: white;
  text-align: center;
  p {
    color: $lightish-gray;
    font-size: 48px;
    font-family: Helvetica;
    font-weight: 300;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
  }
}
