.main-title {
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 16px 2.5% 16px 2.5%;
  color: $darkish-gray;
}

.main-title-width-reduced {
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 16px % 16px 25%;
  width: 50%;
  color: $darkish-gray;
}

.breadcrumb {
  background-color: white;
  padding-left: 0;
  color: $gray;

  a {
    text-decoration: none;
    color: $gray;
    &:hover {
      color: $medium-gray;
    }
  }
}

// Icons

.far {
  color: $form-border-gray;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: $gray-ccc;
  }
}

.fas {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: $gray-ccc;
}
