.main-title {
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 16px 0 16px 0;
  color: $darkish-gray;
}

.main-title-width-reduced {
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 16px 25% 16px 25%;
  width: 50%;
  color: $darkish-gray;
}

.featured-title {
  padding-top: 40px;
  padding-bottom: 8px;
  h2 {
    color: $dark-teal;
    font-size: 14px;
    font-weight: 600;
  }
}

.breadcrumb {
  background-color: white;
  padding-left: 0;
  color: $gray;

  a {
    text-decoration: none;
    color: $gray;
    &:hover {
      color: $medium-gray;
    }
  }
}

