// 3 Card Grid

.card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
}

// Smallest device
@media (max-width: 575px) {
  .card__grid {
    grid-template-columns: 1fr;
  }
}

// Cards for Events

.card__event {
  width: 16rem;
}


// Cards for Dashboard

.card__event {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  height: 156px;
  background: white;
  align-items: left;
  border-color: $light-gray;
  border-style: solid;
  border-width: 0.4px;
  &:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 19px 43px;
  transform: scale3d(1.006, 1.006, 1);
  }
}

.card__event__date {
  margin-top: 12px;
  margin-bottom: 6px;
}

.card__content {
  display: flex;
  margin-left: 12px;
}

.card__time {
  margin-left: 12px;
}



