// Main Page Container

#container-wrapper {
  display: grid;
  // grid-gap: 16px;
  grid-template-columns: 2fr 10fr;
  // flex-grow: 1;
  // width: 98%;
}

.container__main {
  overflow: hidden;
  // margin-top: 32px;
}

.page-container {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 56px;
}

.page-container-home {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 32px;
  padding-bottom: 64px;
}

.small-page-container {
  margin-left: 144px;
  margin-right: 144px;
  padding-top: 56px;
}


// Featured Container

.container__featured {
  height: auto;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 24px;
  // border-top: $light-gray solid 1px;
  // border-bottom: $light-gray solid 1px;
  background-color: $almost-white;
}

.container__featured-white {
  height: auto;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 24px;
  border-top: $light-gray solid 1px;
  border-bottom: $light-gray solid 1px;
}

.container__body {
  height: auto;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 24px;
}


// Dashboard Container

.container__dashboard {
  display: grid;
  grid-template-columns: 7fr 5fr;
  flex-grow: 1;
  grid-gap: 16px;
}


// Profile Container

.user-description {
  width: 80%;
  padding-top: 2rem;
  text-align: center;
}


