// Main Page Container

#container-wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 2fr 10fr;
  flex-grow: 1;
  padding: 16px 16px;
}

.container__main {
  overflow: hidden;
  width: 90%;
  margin-top: 4%;
}


// Featured Container

.container__featured {
  background: #ccc;
  height: 32vh;
  width: 100%;
  margin-bottom: 8%;
  padding-top: 2%;
}
