.events__upcoming {
  padding: 32px 32px 32px 32px;
}

.event-description-side {
}

.event-side-title {
  border: solid 0.5px $form-border-gray;
  padding: 24px 32px 24px 32px;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 10px;
    color: $medium-gray;
    font-weight: 500;
  }
}

#event-join-name {
    color: $teal;
    font-size: 16px;
    font-weight: 600;
}

.event-side-bottom {
  border-right: solid 0.5px $form-border-gray;
  border-bottom: solid 0.5px $form-border-gray;
  border-left: solid 0.5px $form-border-gray;
  padding: 24px 32px 24px 32px;
}

#event-date-card {
  height: 80px;
  width: 80px;
  border: solid 0.5px $form-border-gray;
  background-color: $almost-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#event-day-text {
  font-size: 32px;
  margin-bottom: -8px;
}

#event-month-text {
  font-size: 12px;
}

#event-location {
  color: $medium-gray;
  font-size: 14px;
}

.event-location-icon {
  color: $medium-gray;
  font-size: 14px;
}

#event-map {
  margin-top: 16px;
}

#remaining-spots {
  border-right: solid 0.5px $form-border-gray;
  border-bottom: solid 0.5px $form-border-gray;
  border-left: solid 0.5px $form-border-gray;
  background-color: $almost-white;
  padding: 8px 32px 8px 32px;
  color: $medium-gray;
  font-size: 14px;
  font-weight: 500;
}

.organiser-rating-box {
  height: 140px;
  width: 140px;
  border: solid 0.5px $form-border-gray;
  display: flex;
  direction: column;
  align-items: center;
  justify-content: center;
}

.organiser-rating {
  font-size: 72px;
}

.review-star i {
  color: $gold;
  &:hover {
    color: $gold;
  }
}

.blank-star i {
  color: $gray;
}

.total-rating-score {
  font-size: 12px;
}
