[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

label.file {
  // background-color: #000;
  border-radius: 4rem;
  color: $gray;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 4rem;
  line-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  transition: background-color 0.3s;
}

label.file.file-selected {
  // background: red;
}

.file-preview {
  height: 200px;
  width: auto;
}
