[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

label.file {
  width: 100%;
  // background-color: #000;
  text-align: center;
  color: $gray;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 50px 0;
  transition: background-color 0.3s;
}

label.file.file-selected {
  // background: red;
}

.file-preview {
  height: 200px;
  width: auto;
  border-radius: 8px;
}

.file-input-preview {
  margin-bottom: 20px;
  display: block;
}
