//////////////////////////////////////////////////
// UTILITY
//////////////////////////////////////////////////

.form-container {
  width: 50%;
  margin: 0 25% 0 25%;
}

.form-title {
  font-size: 16px;
  color: $medium-gray;
}

.form-border {
  border: solid 0.5px red;
}

.form-date-range {
  display: flex;
  flex-wrap: wrap;
}

.form-date-range-item {
  flex-grow: 1;
}

.title-header {
  padding: 16px 0 16px 0;
  font-size: 18px;
}

//////////////////////////////////////////////////
// ORGANISMS
//////////////////////////////////////////////////
.basic-details-form {
  padding: 16px 32px 16px 32px;
}
