.navbar-travelmates {
  justify-content: space-between;
  background: white;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: bold;
  color: $almost-black;
  border-bottom: solid 0.5px $light-gray;
}

.navbar-travelmates .navbar-collapse {
  flex-grow: 0;
}

.navbar-travelmates .navbar-brand img {
  width: 40px;
}


.nav-pills {

}

#navbar__welcome {
  margin: 8px;
}
