.search-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: 10em;
  align-content: center;
  vertical-align: baseline;
}


#query {
  border-radius: 4px;
  width: 24em;
  border: $form-border-gray solid 1px;
}
