#sidebar {
  text-align: left;
  text-decoration: none;
  border-right: $light-gray solid 1px;
  // Font
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  &:hover {
    text-decoration: none;
  }
}

.bd-sidebar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
}

.nav-link {
  text-decoration: none;
  padding-left: 48px;
  height: 56px;
  color: $medium-gray;
  font-weight: 600;
  &:hover {
    color: $teal;
  }
}

// Sidebar Active Button

.nav-item-active {
  a {
    color: $teal;
  }
}

.sidebar-primary-button {
  margin: 16px 0 16px 40px;
}
