#sidebar {
  text-align: left;
  text-decoration: none;
  border-right: $light-gray solid 1px;
  // Font
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  &:hover {
    text-decoration: none;
  }
}

.navbar-brand {
  font-weight: bold;
  text-align: center;
}


.sidebar-welcome {
  // text-align: center;
  padding-top: 24px;
  padding-left: 24px;
  // Font
  font-size: 10px;
  font-weight: 400;
  color: $medium-gray;
}

#sidebar__name {
  color: $dark-teal;
  // height: 24px;
  font-weight: 600;
  margin: 0 0 0 8px;
  font-size: 16px;
  // padding-bottom: 2rem;
}

.bd-sidebar {
  position: sticky;
  top: 1rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
}

#manage-your-trips-with-count {
  display:flex;
  align-items:center;
}

.nav-link {
  text-decoration: none;
  padding-left: 28px;
  height: 56px;
  color: $medium-gray;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  &:hover {
    color: $teal;
  }
}

// Sidebar Active Button

.active-bar {
  border-left-color: $teal;
  border-left-style: solid;
  border-left-width: 4px;
  background-color: $lighest-teal;
  a {
    color: $teal;
    font-weight: 600;
  }
}

.nav-item-highlighht {
  padding-right: 16px;
  &:hover {
    background-color: $almost-white;
    a {
      color: $teal;
    }
  }
}

.sidebar-primary-button {
  margin: 16px 0 24px 24px;
}

.side-bar-divider {
  padding: 16px 0 8px 0;
  margin: 0 48px 0 48px;
  border-top: solid 0.5px $lightish-gray;
}
