.tag-outline {
  // Borders
  border-style: solid;
  border-width: 0.5px;
  border-radius: 1em;
  border-color: $gray;
  // Spacing
  padding: 4px 8px 4px 8px;
  margin-right: 2px;
  margin-bottom: 2px;
  // Font
  font-size: 12px;
  font-weight: 400;
  color: $medium-gray;
}
