.travel-plan-banner {
  background-color: $almost-white;
}

.travel-planner {
  margin: 8px 0 64px 0;
}

.travel-plan-banner-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.box-count {
  height: auto;
  width: auto;
  border: $lightish-gray solid 1px;
  background-color: $almost-white;
  color: $darkish-gray;
  padding: 16px 32px 32px 32px;
  flex: 1;
  h1 {
    font-size: 80px;
    padding-left: 16px;
    color: $teal;
    margin-bottom: 0;
  }
  p {
    align-content: center;
    margin-bottom: 8px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 400;
    color: $medium-gray;
  }
  .active {
    color: $teal;
  }
}


