.travel-planner {
  margin: 8px 0 32px 0;
}

.box-count {
  height: auto;
  width: auto;
  border: $lightish-gray solid 1px;
  background-color: $almost-white;
  color: $darkish-gray;
  padding: 32px;
  margin: 1rem;
  flex: 1;
  h1 {
    font-size: 80px;
    padding-left: 16px;
  }
  h6 {
    align-content: center;
  }
  .active {
    color: $teal;
  }
}


