<% if @event.itinerary.user.avatar.present? %>
  <div><%= cl_image_tag @event.itinerary.user.avatar, class: "avatar-xlarge" %></div>
<% else %>
  <div class="no-image-avatar-xlarge d-flex align-items-center justify-content-center">
    <p><%= @event.itinerary.user.first_name[0].upcase%></p>
  </div>
<% end %>
