<!-- Search bar -->
<div>
  <%= render 'shared/search/search_locations' %>
</div>

<!-- Featured locations -->
<div class="almost-white-background pt-4">
  <%= render 'featured_location' %>
</div>

<!-- ALL LOCATIONS -->
<div>
  <%= render 'non_featured_locations' %>
</div>

